/* * {
  border: 1px solid red;
} */

.general-styles {
  font-family: "Mark Pro", Helvetica Neue, sans-serif;
  position: relative;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 3rem;
}

.name__container {
  overflow-y: hidden;
  flex: 1;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.language__button__container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* .collapse {
  display: flex;
  justify-content: center;
} */

.language__button__container{
  display: flex;
  align-items: center;
}

.language__button__container button{
  border: none;
  background-color: transparent;
}

.language__button__container button.active {
  font-weight: 600;
}

.menu-backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  top: var(--backdrop-top);
  left: var(--backdrop-left);
  width: var(--backdrop-width);
  height: var(--backdrop-height);
  transition: all 0.3s ease-in-out;
}