/* * {
  border: 1px solid red;
} */

.general-styles {
  /* background-color: black; */
  /* color: white; */
  font-family: "Mark Pro", Helvetica Neue, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
}

.name__container {
  overflow-y: hidden;
  flex: 1;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.language__button__container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav{
  display: flex;
  gap: 1.5rem;
}

.language__button__container{
  display: flex;
  align-items: center;
}

.language__button__container button{
  border: none;
  background-color: transparent;
}

.language__button__container button.active {
  font-weight: 600;
}