.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
  min-height: 100vh;
}

img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
}

h1,
h2 {
  overflow-y: hidden;
}